@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

* {
  box-sizing: border-box;
}

.body {
  background-color: var(--color-backgroud-defect);
}

.header {
  font-family: "Inter", sans-serif;
}

.li {
  list-style: none;
}

.a {
  text-decoration: none;
  color: var(--color-text1-darkmode);
}

.a__sign {
  color: var(--color-text2-darkmode);
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem 2.1875rem;
  margin: 0;
  position: relative;
}

.nav__div__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 6.875rem;
}

.nav__div {
  display: none;
}

.dropdown__ul {
  display: none;
}

.nav__div__search {
  display: none;
}

.fas {
  margin-left: 0.625rem;
}

.li__sol:hover .dropdown__ul--solutions {
  left: 12vw;
  top: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: --color-background1-defect;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid var(--color-text2-lightmode);
}

.li__documentation:hover .dropdown__documentation__ul {
  left: 30vw;
  top: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: --color-background1-defect;
  padding: 5px 15px;
  border-radius: 5px;
  border: 1px solid var(--color-text2-lightmode);
}

.dropdown__li {
  margin-top: 10px;
}

.a__style:hover {
  color: var(--color-text3-darkmode);
}

.a__sign {
  font-weight: 800;
}

.a__style-1:hover {
  color: var(--color-hover);
}

@media screen and (min-width: 960px) {
  .li__nav {
    display: none;
  }

  .nav__div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
  }

  .nav__div-dats {
    display: flex;
    width: 18.75rem;
    justify-content: space-between;
    align-items: center;
  }

  .nav__div-login {
    display: flex;
    width: 12.5rem;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__div__search {
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.searh__nav-diagonal {
  margin-left: 4px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
}

.search__span {
  padding: 5px;
  color: var(--color-text6);
}

.search__input {
  width: 140px;
  border-radius: 5px;
  border: 0;
  background-color: var(--color-backgroud-defect);
  color: var(--color-text3-darkmode);
}

.search__input::placeholder {
  color: var(--color-text6);
}

@media screen and (min-width: 1280px) {
  .li__lup {
    display: none;
  }

  .nav__div__search {
    display: flex;
  }

  .nav__div-login {
    width: 500px;
    justify-content: space-evenly;
  }
}
