@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
.main {
  max-width: 100vw;
  height: auto;
  font-family: "Inter", sans-serif;
}

.section1 {
  height: 100vh;
  max-width: 100%;
}

.section1__div {
  background-color: var(--color-background2-defect);
  height: 100%;
  max-width: 100%;
}

.section1__div {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: max-content 1fr;
  grid-template-areas:
    "section1__img--grid"
    "section1__dats--grid";
  justify-content: center;
}

.section1__img--grid {
  grid-area: section1__img--grid;
}

.section1__dats--grid {
  grid-area: section1__dats--grid;
}

.section__medidas__img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 40vh;
  max-width: 100%;
}

.section1__img {
  background-image: url(https://res.cloudinary.com/deox9ahvl/image/upload/f_auto/v1678630289/PaginaWeb_Intermedio3/images/hero-2-dark-2x-2163b26018a6fb7a545c4aab0f0188defbe0c76afe5184f9983a83af5f6aed58_novlx1.png);
}

.section1__dats {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-evenly;
  padding: 3.125rem;
}

.section1__a {
  color: var(--color-backgroud-light);
  border: 0.0625rem solid var(--color-text2-darkmode);
  border-radius: 1.5625rem;
  padding: 0.625rem 1.75rem;
  font-size: var(--step7-0);
}

.section1__span {
  font-weight: 700;
}

.section1__span-2 {
  display: none;
}

.section1__h1 {
  color: var(--color-backgroud-light);
  position: relative;
  padding-bottom: 0.625rem;
  font-size: var(--step7-4);
}

.section1__h1::after {
  content: "";
  width: 40%;
  height: 0.25rem;
  background-color: var(--color-text2-darkmode);
  position: absolute;
  left: 0;
  top: 100%;
}

.section1__p {
  color: var(--color-backgroud-light);
  font-size: var(--step7-1);
}

.section1__a-docs {
  color: var(--color-text2-darkmode);
  font-weight: 700;
  font-size: var(--step7-1);
  text-align: center;
}

.img__arrow {
  margin-left: 0.25rem;
}

.a__flex {
  display: flex;
  justify-content: center;
}

/**Efectes*/
.section1__a:hover {
  background-color: var(--color-text2-darkmode);
  color: var(--color-background2-defect);
  transition: background-color 0.2s linear;
}

.section1__a-docs:hover .img__arrow__efects {
  margin-left: 0.5rem;
  transition: margin-left 1s ease-out;
}

/**Section2*/
.section2 {
  max-width: 100%;
  height: auto;
}

.section2__img {
  background-image: url(https://res.cloudinary.com/deox9ahvl/image/upload/v1678630289/PaginaWeb_Intermedio3/images/hero-3-dark-2x-0072fd52a27177f0aaccec1e38c5625e1ab6aa1ace743f0abdc54fc5f7ce431b_qpeipw.webp);
}

.div__border {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.section2__icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 90%;
  padding: 2vw 25px;
  border-top: 2px dotted var(--color-text2-darkmode);
  border-bottom: 2px dotted var(--color-text2-darkmode);
}

.section2__logo {
  margin: 0 25px;
}

/**Section3*/

.section3 {
  margin-top: 40px;
  height: 100vh;
  max-width: 100%;
}

.section3__img {
  background-image: url(https://res.cloudinary.com/deox9ahvl/image/upload/v1678630289/PaginaWeb_Intermedio3/images/home-logo-soup-dark-2x-e51c4083b1f3315f87316c27eafb7941d98dbc1369530113c750a3611f35e541_gjoanj.webp);
}

.section3__dats {
  background-image: url(https://res.cloudinary.com/deox9ahvl/image/upload/v1678630291/PaginaWeb_Intermedio3/images/home-apis-dark-4ab8399cdea1b548e9b7c574fd14ae35269436c6587c231390d24d1bfe040bf2_ti0lqn.webp);
  background-repeat: no-repeat;
  background-position: left -145px bottom;
  background-size: auto 30rem;
  max-width: 100%;
  height: 100vh;
}

.section3__dats {
  margin-top: 40px;
  padding: 10px 40px;
}

.section3__dats--grid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(2, min-content) auto;
  grid-template-areas:
    "section3__h1--grid"
    "section3__p--grid"
    "section3__ul--grid";
  justify-content: center;
  justify-items: flex-start;
}

.section3__h1--grid {
  grid-area: section3__h1--grid;
}

.section3__p--grid {
  grid-area: section3__p--grid;
}

.section3__ul--grid {
  grid-area: section3__ul--grid;
}

.a__p {
  color: var(--color-text2-darkmode);
}

.section3__ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: self-start;
  border-top: 0.5px dashed rgba(165, 248, 152, 0.5);
}

.section3__li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: var(--color--text7);
  padding: 15px 5px;
}

.section3__li--border {
  border-top: 0.5px dashed rgba(165, 248, 152, 0.5);
  border-bottom: 0.5px dashed rgba(165, 248, 152, 0.5);
}

.li__img {
  width: 25px;
  height: 25px;
  background-image: url(/project9/assets/images/logos/check.svg);
  background-repeat: no-repeat;
}

@media screen and (min-width: 960px) {
  .section1__span-1 {
    display: none;
  }

  .section1__span-2 {
    display: inline-block;
  }

  .section1__h1 {
    font-size: var(--step9-4);
    width: 31.25rem;
  }
}

@media screen and (min-width: 1280px) {
  .section1__div {
    grid-template-columns: min-content 600px;
    grid-template-rows: 100%;
    grid-template-areas: "section1__dats--grid section1__img--grid";
    gap: 0 10px;
  }

  .section1__img--grid {
    grid-area: section1__img--grid;
  }

  .section1__dats--grid {
    grid-area: section1__dats--grid;
  }

  .section1__img {
    background-image: url(https://res.cloudinary.com/deox9ahvl/image/upload/f_auto/v1678630289/PaginaWeb_Intermedio3/images/hero-1-dark-2x-4fdf08879d220f8e18d3cfd1eed971db2d02bf3442531d33e8eb0c5c558469b9_absjwh.webp);
    height: 78vh;
    background-size: contain;
    background-position: left center;
    max-width: 100%;
  }

  .section1__a {
    font-size: var(--step12--1);
  }

  .section1 {
    display: flex;
    justify-content: center;
    align-items: self-start;
    padding: 3.125rem 0;
    height: 80vh;
  }

  .section1__div {
    background-color: var(--color-background2-defect);
    height: 69vh;
    width: 80vw;
    border-radius: 1.25rem;
    position: relative;
  }

  .section1__dats {
    padding: 0 3.125rem;
    justify-content: center;
  }

  .section1__img {
    position: relative;
    top: -2.3125rem;
  }
  /**Section2*/
  .section2__img {
    display: none;
  }

  .section2__icons {
    justify-content: space-between;
    width: 70%;
  }
}
